
<!-- BEGIN FOOTER-->
<footer class="text-center mt-5 mb-3 text-muted small">
    <p class="mb-1">
        Made with ❤️ by 
        <a href="https://buymeacoffee.com/staticresponse" class="link-secondary link-underline-opacity-25-hover">StaticResponse</a>
    </p>
    <div>
        <a href="https://github.com/staticresponse/Narrator" class="link-secondary link-underline-opacity-25-hover me-2">GitHub Project</a>
        <a href="/changelog" class="link-secondary link-underline-opacity-25-hover me-2">Changelog</a>
        <a href="/support" class="link-secondary link-underline-opacity-25-hover">Support</a>
    </div>
</footer>
<!-- END FOOTER-->
