<!-- Begin Navigation -->
<nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">TTS</a>
      <button 
          class="navbar-toggler" 
          type="button" 
          data-bs-toggle="offcanvas" 
          data-bs-target="#offcanvasNavbarDark" 
          aria-controls="offcanvasNavbarDark" 
          aria-label="Toggle navigation" 
          title="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
          <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Navigation</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/upload">Epub Upload</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/cleaned">Cleaned Text</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/audio">Final Audio</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</nav>
<!-- END NAVIGATION -->
